footer {
    height: 20vh;
}

.boxSocial {
    background-color: #005695;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    nav {
        width: 22vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.boxEnd {
    background-color: #232020;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

