footer {
    height: 14.5vh;
}

.boxSocial {
    background-color: #005695;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    nav {
        width: 22vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.boxEnd {
    background-color: #232020;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media(max-width: 1000px) {
    .boxSocial {
        nav {
            border: 2px solid red;
            width: 220px;
        }
    }
}
@media(max-width: 479px) {
    .boxSocial {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .boxEnd {
        p {
            text-align: center;
        }
    }
}